/* CSS для SWUP */

html.is-changing .transition-fade {
  transition: opacity 0.4s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}

/* Глобальные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.page {
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 40px;
}

.header__list {
  margin-top: 50px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 252, 249);
  border-radius: 40px 40px 0 0;
}

.header__link {
  color: #000;
  font-size: 35px;
  font-weight: 600;
}

.header__link:hover {
  border-bottom: 2px rgb(177, 227, 216) solid;
}

.container {
  margin-bottom: 50px;
  padding: 30px;
  background: -webkit-linear-gradient(
    135deg,
    rgb(177, 227, 216),
    rgb(96, 174, 176),
    rgb(55, 108, 178)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(177, 227, 216),
    rgb(96, 174, 176),
    rgb(55, 108, 178)
  );
  background: linear-gradient(
    135deg,
    rgb(177, 227, 216),
    rgb(96, 174, 176),
    rgb(55, 108, 178)
  );
  border-radius: 0 0 20px 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.dropbtn {
  background-color: rgb(96, 174, 176);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 15px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: rgb(207, 236, 238);
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 40px;
}

.dropdown:hover .dropbtn {
  background-color: rgb(84, 152, 155);
}

.dropdown__city-btn {
  width: 100%;
  background-color: white;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

.enter-data__input {
  margin: 10px 10px 10px 0;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  outline: none;
  border: 1px solid #fff;
  border-radius: 20px;
}

.enter-data__input::placeholder {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.4;
}

.enter-data__btn {
  padding: 10px;
  background-color: rgb(84, 152, 155);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

.enter-data__btn:hover {
  background-color: rgb(78, 141, 145);
}

.weather-img {
  width: 150px;
  height: 150px;
}

.title {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.weather-data {
  text-align: center;
}

.text {
  padding: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
}

.days-forecast {
  margin: 0 auto;
  text-align: center;
}

.card {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 30px;
  max-width: 400px;
  background-color: rgb(98, 170, 175);
  border-radius: 20px;
}

.dark-theme {
  color: #fff;
  background: #000;
}

.dark-theme a {
  color: #fff;
}
